.wraper{
    width: 400px;
    height: 100%;
    margin: auto;
    border: 1px solid #333;
    padding: 50px;
}
.message-box{
    height: 200px;
    overflow-y: auto;
}
.message-sent-box{

}
.mr-3{
    margin-right: 30px;
}
.mr-3 input{
    width: calc(100% - 180px);
    height: 100px;
    padding: 10px;
}
.text-red{
    color: red;
}
.text-green{
    color: green;
}
.text-blue{
    color: blue;
}