<h1>Angular MQTT</h1>
<p>
  ngx-mqtt, mqtt-8.0
  <a href="http://www.hivemq.com/demos/websocket-client/">http://www.hivemq.com/demos/websocket-client/</a>
</p>

<div class="wraper">
  <div class="message-box">
    <span class="text-red">
      Name: {{senderName}}
    </span><br/><br/>
    <span class="text-black">
      Message: {{senderMessage}}
    </span><br/><br/>
    <span class="text-blue">
      Time: {{sendTime}}
    </span>
  </div>
  <div class="message-sent-box">
    <form class="" id="SendMes" #myForm="ngForm" (ngSubmit)="unsafePublish('Test',sendMessage.value)">
      <!-- <label>
        Your Topic
        <input type="text" name="Topic">
      </label><br/><br/> -->
     <label class="mr-3">
       <input type="text" 
        name="sendMessage" ngModel
        #sendMessage="ngModel">
     </label>
     <input type="submit" name="submit" value="Submit">
    </form>
  </div>
  
</div>
